/*
  my colours from OneNice
  main background: #1f2329
  darker background: #181b20
  --red: #e55561;
  --orange: #cc9057;
  --green: #8ebd6b;
  --aqua: #48b0bd;
  --purple: #bf68d9;
  --blue: #4fa6ed;
  --yellow: #e5c07b;

  OneDark ( Navarasu Theme )
	black = "#0e1013",
	bg0 = "#1f2329",
	bg1 = "#282c34",
	bg2 = "#30363f",
	bg3 = "#323641",
	bg_d = "#181b20",
	bg_blue = "#61afef",
	bg_yellow = "#e8c88c",
	fg = "#a0a8b7",
	purple = "#bf68d9",
	green = "#8ebd6b",
	orange = "#cc9057",
	blue = "#4fa6ed",
	yellow = "#e2b86b",
	cyan = "#48b0bd",
	red = "#e55561",
	grey = "#535965",
	light_grey = "#7a818e",
	dark_cyan = "#266269",
	dark_red = "#8b3434",
	dark_yellow = "#835d1a",
	dark_purple = "#7e3992",
	diff_add = "#272e23",
	diff_delete = "#2d2223",
	diff_change = "#172a3a",
	diff_text = "#274964",
 */

* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono NF;
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  /*main waybar's background colour*/
  background: transparent;
  /*main text colour / foreground colour ==> my white*/
  color: #cdd6f4;
}

/*the styles when hovering over clock, cpu, memory, etc*/
tooltip {
  /*background colour of that "hover" context*/
  background: #323641;
  /*radius of border*/
  border-radius: 2px;
  /*border size*/
  border-width: 1px;
  /*border style*/
  border-style: solid;
  /*colour of that border*/
  border-color: #bf68d9;
}

#workspaces button {
  /*unactive workspace "text" colour*/
  color: #cdd6f4;
  padding: 5px;
  /*BUG: please fix*/
  margin-right: 5px;
}

#workspaces button.active {
  /*active workspace "text" colour*/
  color: #8ebd6b;
}

/*WARNING: Need to look into this*/
#workspaces button.focused {
  color: #cdd6f4;
  background: #eba0ac;
  border-radius: 5px;
}

/*WARNING: Need to look into this*/
#workspaces button.urgent {
  color: #11111b;
  /*background: #a6e3a1;*/
  background: #e55561;
  border-radius: 5px;
}

#workspaces button:hover {
  /*background colour on hover*/
  /*background: #c0caf5;*/
  background: #323641;
  /*main "text" colour on hover*/
  color: #cdd6f4;
  /*BUG: Please Fix*/
  border-radius: 5px;
  padding-right: 10px
}

#custom-launcher {
  background: #15121b;
  padding-right: 7px;
  padding-left: 7px;
}
#custom-exit,
#custom-language,
#custom-updates,
#custom-caffeine,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#network,
#workspaces,
#temperature,
#tray,
#backlight {
  /*main background colour for most things*/
  background: #323641;
  padding: 0px 10px;
  margin: 3px 0px;
  border-radius: 5px;
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #11111b;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  border-radius: 5px;
  margin-right: 4px;
  font-size: 19px;
}

#workspaces {
  /*main background colour for workspaces on the left*/
  background: #323641;
  border-radius: 5px;
  padding-right: 0px;
  /*padding-left: 5px;*/
  padding-left: 0px;
  margin-left: 5px;
}

#custom-caffeine {
  color: #89dceb;
  border-radius: 5px 0px 0px 5px;
  padding-right: 12px;
}

#inhibitor {
  background: #323641;
  color: #f5e0dc;
  border-radius: 5px 0px 0px 5px;
  padding-right: 12px;
  padding-left: 5px;
  padding-left: 12px;
}

#custom-language {
  color: #f38ba8;
}

#custom-updates {
  color: #f5c2e7;
}

#cpu {
  /*main background colour for cpu module*/
  background: #323641;
  padding: 0px 10px;
  margin: 3px 0px;
  /*main "text" colour*/
  color: #e55561;
}

#clock {
  /*main "text" colour*/
  color: #e5c07b;
  /*radius of border*/
  border-radius: 5px;
}

#network {
  /*main "text" colour*/
  color: #cc9057;
}

#pulseaudio {
  /*main "text" colour*/
  color: #48b0bd;
}

#memory {
  /*main "text" colour*/
  color: #4fa6ed;
}

#battery {
  color: #a6e3a1;
  border-radius: 5px 5px 5px 5px;
}

#backlight {
  color: #cba6f7;
}

#custom-spotify {
  background: #15121b;
  color: #cdd6f4;
}

/*NOTE: place this on most right hand side*/
#temperature {
	margin-right: 5px;
	margin-left: -1px;
}
