configuration{
	
	display-drun: "  ";
	display-run: "  ";
	display-emoji: "     ";
	display-calc: "  󰍘 ";
	drun-display-format: "{icon} {name}";
	show-icons: true;
    icon-theme: "Papirus-Dark";
	modi: "run,drun,emoji,calc";

}

@theme "~/.config/rofi/themes/testing.rasi"
// @theme "~/.config/rofi/themes/raycast.rasi"
