configuration{
	
	display-drun: "  ";
	display-run: "  ";
	display-emoji: "    ";
	display-window: "Window";
	drun-display-format: "{icon} {name}";
	show-icons: true;
    icon-theme: "Papirus-Dark";
	modi: "run,drun,emoji";

}

@theme "~/.config/rofi/themes/testing.rasi"
